<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% import "bootstrap/wtf.html" as wtf %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/icons/bootstrap-icons.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</head>
<body class="h-100 bg-dark">
    {% block navbar %}{% endblock %}
    <div class="container my-3 py-3">

        <h1 class="text-light">{% block title_2 %}{% endblock %}</h1>
        <hr class="w-100 border border-light border-2">
        {% block content %}{% endblock %}
    </div>
</body>