{% extends "base.html" %}
{% block title %}Octo-Bar - Menu{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block title_2 %}Menu{% endblock %}
{% block content %}
    {% if recipes|length == 0 %}
        <h3 class="text-light">No available recipes.<br><br>Inventory likely requires configuration.</h3>
    {% else %}
        <div class="list-group">
            {% for recipe in recipes %}
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="list-group-item list-group-item-action">{{ recipe.name }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}